body {
	text-align: center;
	font-family: sans;
}

header {
	padding: 0px;
	margin-top: 20px;
	margin-bottom: -10px;
}

header img {
	max-width: 100%;
}

#edit {
	display: none;
}

table {
	min-width: 300px;
	margin: 0 auto;
	border-collapse: collapse;
}

td {
	text-align: left;
	border-bottom: 1px solid silver;
	padding: 8px 30px;
}

#board td {
	font-size: 24px;
}

a.tablink {
	display: inline-block;
	padding: 15px 40px;
	border-radius: 35px;
	cursor: pointer;
	border: 2px solid rgb(75, 176, 123);
}

form {
	margin: 40px auto;
}

button {
	padding: 8px 25px;
	background-color: #eee;
}

select, input {
	background-color: transparent;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 8px;
}
